/* 전체 페이지 스타일 */
body {
  font-family: Arial, sans-serif;

  margin: 0;
  padding: 0;
}

/* 커뮤니티 페이지 컨테이너 */
h1 {
  text-align: center;
  color: #333;
  margin-top: 20px;
}

.chat-box {
  width: 80%;
  max-width: 600px;
  height: 600px;
  margin: 20px auto;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.chat-box p {
  margin: 5px 0;
  padding: 8px;
  border-radius: 5px;
  word-wrap: break-word;
}

/* 자신의 메시지 스타일 */
.chat-box p:nth-child(odd) {
  background-color: #e0f7fa;
  color: black; /* 홀수 번째 메시지 텍스트 색상 */
  text-align: right;
}

.chat-box p:nth-child(even) {
  background-color: #fbe9e7;
  color: rgb(246, 249, 247); /* 짝수 번째 메시지 텍스트 색상 */
  text-align: left;
}

/* 입력 필드 스타일 */
input[type="text"] {
  width: 70%;
  max-width: 500px;
  padding: 10px;
  margin: 10px auto;
  display: block;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* 버튼 스타일 */
button {
  padding: 10px 20px;
  background-color: rgb(246, 249, 247);
  font-weight: bolder;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 10px auto;
  transition: transform 0.2s;
}

button:hover {
  transform: scale(1.15); /* 호버 시 확대 효과 */
}

.userProfileImage {
  width: 40px;
  height: 40px;
}
