.WrapSearchPage {
  height: 100vh;
  border: solid 5px var(--main-color);
  border-radius: 10px;
  padding: 20px;
}

.WrapOptions {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 30px 10px;
  flex-wrap: nowrap; /* Wrap 금지 */
}

.optionsLabel {
  margin: 10px;
  font-size: 30px;
}

.optionsSelect {
  font-size: 30px;
  border-radius: 10px;
}

.searchBtn {
  font-size: 30px;
  border-radius: 10px;
  border: solid 1px var(--main-color);
  margin-right: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 카드 그림자 효과 */
  transition: transform 0.2s;
}

.searchBtn:hover {
  transform: scale(1.05); /* 호버 시 확대 효과 */
}

.wrappNoResults {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  font-size: 50px;
}

/* 검색 결과만 반응형 */
.SearchResults {
  padding-top: 40px;
  display: grid; /* Grid로 변경 */
  grid-template-columns: repeat(
    auto-fit,
    minmax(300px, 1fr)
  ); /* 결과 카드가 300px 이상으로 유지 */
  gap: 20px; /* 카드 간격 */
  margin: 30px auto;
  width: 90%; /* 반응형 너비 */

  /* 스크롤 추가 */
  max-height: 700px; /* 검색 결과 영역의 최대 높이 설정 */
  overflow-y: auto; /* 세로 스크롤 활성화 */
  border: 1px solid var(--main-color); /* 시각적으로 영역 구분 */
  background-color: #f9f9f9; /* 배경색 추가 */
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}
/* Webkit 기반 브라우저 (Chrome, Edge, Safari)에서 스크롤바 숨기기 */
.SearchResults::-webkit-scrollbar {
  display: none; /* 스크롤바 숨김 */
}

/* Firefox에서 스크롤바 숨기기 */
.SearchResults {
  scrollbar-width: none; /* 스크롤바 너비 제거 */
}

.resultCard {
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 카드 그림자 효과 */
  transition: transform 0.2s;
  height: 280px;
}

.resultCard:hover {
  transform: scale(1.05); /* 호버 시 확대 효과 */
}

.resultCardLink {
  color: black;
  text-decoration: none;
}

.result_IMG {
  width: 100%;
  height: 180px;
  border-radius: 10px;
  border: solid 1px black;
}

.wrapp_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
