:root {
  --main-color: rgb(246, 249, 247);
  --padding-of-p: ;
  --font-size: ;
}
.recipeInfo {
  background-color: var(--main-color);
  height: 400px;
  border-radius: 10px;
  display: flex;
  padding: 50px;
}
#first {
  position: relative;
  right: 20px;
}
.name {
  display: flex;
  margin: 20px;
}
.nameInput:first-child {
  position: relative;
  right: 200px;
}

.nameP {
  padding-right: 50px;
  font-size: 25px;
}
.nameInput {
  border: 1px solid #c4c4c4;
  border-radius: 10px;
  border-color: var(--main-color);
}
.select {
  width: 150px;
  height: 50px;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 12px 13px;
  margin: 0px 10px 0px 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.inputImg {
  width: 200px;
  height: 200px;
}
.recipeInfo_right {
  width: 250px;
  height: 250px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
input[type="text"] {
  font-size: 20px; /* 원하는 글자 크기 */
  padding: 10px; /* 여백 추가 (선택 사항) */
  border: 1px solid #ccc; /* 테두리 스타일 (선택 사항) */
  border-radius: 4px; /* 모서리 둥글게 (선택 사항) */
}
