.addDiv {
  height: 60px;
  width: 150px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.IngredientInfo {
  background-color: var(--main-color);
  margin-top: 40px;
  padding: 10px;
  border-radius: 5px;
  transition: height 0.3s ease; /* 부드러운 높이 변화 */
  display: flex;
  align-content: center;
}

.p {
  padding: 40px;
  font-size: 25px;
}

.inputDiv {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.inputField {
  margin-right: 10px;
  padding: 5px;
  flex: 1; /* 입력 필드가 공간을 차지하도록 설정 */
}

.removeButton {
  margin-left: 10px;
  padding: 5px 10px;
  font-size: 20px;
  font-weight: bolder;
}
